.cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    padding: 14px 0;
    position: fixed;
    bottom: 0;
}

.admin_container {
    width: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.admin_container a {
    text-decoration: none;
}

.admin_title {
    color: #f34e26 !important;
    font-weight: 600;
    letter-spacing: 3px;
}

.btn_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: 300ms;
    padding: 3px 12px;
}

.btn_logout:active {
    transform: scale(0.9);
    transition: 300ms;
}

.openCart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    background-color: #5D1D88;
    transition: .3s;
}

.openCart p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 150%;
    margin-right: 8px;
}

.modalContainer {
    display: flex;
    position: fixed;
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0px;
    left: 0px;
}

.container {
    position: relative;
    background-color: #fff;
    min-width: 600px;
    padding: 1.25rem;
    border-radius: 4px;
    color: #20170E;
}

.closeModal {
    position: absolute;
    background-color: transparent;
    right: 20px;
    top: 20px;
}

@media (max-width: 640px) {
    .container {
        min-width: 90%;
    }
}



