.input {
    width: 100%;
    font-size: 16px;
    border: 2px solid #e5e7eb;
    border-radius: 0.25rem;
    padding: 8px;
    margin: 0.25rem 0;
}

.input::placeholder {
    color: #a5a5a5;
}

.error {
    font-family: 'Roboto', sans-serif;
    margin: 0 4px;
    color: #f34e26;
    font-size: 14px;
}
