.cartEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px 0;
    height: 150px;
}

.cartEmpty strong {
    font-size: 25px;
    margin-bottom: 8px;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    color: #20170E;
    padding: 1.25rem;
    border-radius: 4px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnCloseModal {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
}

.valueTotal {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 12px;
    font-size: 18px;
}

.listProducts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnListProducts {
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttonNext, .buttonPrev {
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
    color: #fff;
}

.buttonNext {
    background-color: #54CC0A;
}

.buttonPrev {
    background-color: red;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.inputContainer {
    width: 100%;
}

.inputContainer label {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 14px;
    margin-left: 4px;
}

.groupInput, .groupInput_2 {
    display: flex;
    gap: 4px;
}

.formContainer textarea {
    width: 100%;
    border: 2px solid #e5e7eb;
    border-radius: 0.25rem;
    padding: 8px;
    margin: 7px 0;
    outline: none;
    resize: none;
    min-height: 80px;
}

.orderContainer {
    display: flex;
    flex-direction: column;
}

.orderContainer h2 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

.orderContainer hr {
    border: 0;
    height: 1px;
    background: #000;
    width: 100%;
    margin: 12px 0;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.orderItem {
    width: 100%;
    margin-bottom: 8px;
}

.formContainer textarea::placeholder {
    color: #a5a5a5;
}

@media (max-width: 768px) {
    .groupInput {
        flex-direction: column;
    }
    .groupInput_2 div:first-child {
        flex: 2;
    }
    .groupInput_2 div:last-child {
        flex: 1.5;
    }
}