.modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 600px;
    width: 95%;
    padding: 1.25rem;
    border-radius: 4px;
    color: #20170E;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnCloseModal {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
}

.listProducts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnListProducts {
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttonNext, .buttonPrev {
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
    color: #fff;
}

.buttonNext:hover, .buttonPrev:hover {
    transform: scale(1.1);
    transition: .3s;
}

.buttonNext {
    background-color: #54CC0A;
}

.buttonPrev {
    background-color: red;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.inputContainer {
    width: 100%;
}

.inputContainer label {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 14px;
    margin-left: 4px;
}

.groupInput {
    display: flex;
    gap: 4px;
}

.formContainer textarea {
    width: 100%;
    border: 2px solid #e5e7eb;
    border-radius: 0.25rem;
    padding: 8px;
    margin: 0.25rem 0;
    outline: none;
    resize: none;
    min-height: 120px;
}

.formContainer textarea::placeholder {
    color: #a5a5a5;
}

@media (max-width: 640px) {
    .groupInput {
        flex-direction: column;
    }
}