@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


:root {
  --bg: #310F48;
  --color2: #5D1D88;
  --color3: #FFB700;
  --color4: #f3dfa0;
  --color5: #20170E;
  --color6: #eaeaea;
  --color7: #f34e26;
  --color8: #54CC0A;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: var(--bg);
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  transition: .3s;
}

@media (max-width: 640px) {}
@media (max-width: 768) {}
@media (max-width: 1024px) {}
@media (max-width: 1280px) {}
@media (max-width: 1536px) {}

/* 
sm (Small): 640px — Dispositivos pequenos como celulares.
md (Medium): 768px — Dispositivos médios, como tablets.
lg (Large): 1024px — Laptops e monitores pequenos.
xl (Extra Large): 1280px — Monitores grandes e desktops.
2xl (Double Extra Large): 1536px — Telas muito grandes, como desktops de alta resolução.
*/