.menuTitle {
    font-weight: 'Bebas Neue', 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFB700;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 0;
    margin-bottom: 12px;
}

.line {
    border: 0;
    height: 2px;
    background: #FFB700;
    width: 90%;
    margin: 40px auto 12px auto;
}
